<nav class="navbar navbar-danger navbar-rose navbar-absolute">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 20px !important; font-weight: bold;">COL Lancer</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/howitworks" style="font-size: 15px !important;">
                        How it Works
                    </a>
                </li>

                <li>
                    <a href="/searchjobs" style="font-size: 15px !important;">
                        Search Jobs
                    </a>
                </li>

                <li>
                    <a href="/postproject" target="_blank" class="btn btn-behance navbar-text">
                        Post a Project
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>